input {
    height: 30px;
    width: 170px;
}

textarea {
    height: 150px;
    width: 170px;
}

.buttons {
    height:27px;
    width: 27px;
    display:inline;
    margin-top: 4px;
    margin-right: 1px;
    margin-left: 0px;
}

.buttons_op {
    height:27px;
    width: 27px;
    display:inline;
    margin-top: 2px;
    margin-left: 23px;
}

.buttons_null {
    height:27px;
    width: 27px;
    display:inline;
    margin-top: 2px;
    margin-left: 32px;
}
.head4 {
    height:27px;
    width: 27px;
    margin-top: 30px;
    margin-bottom: 2px;
}